.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #282c34;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-out;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 2rem;
  color: #61dafb;
}

.modal-content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.modal-buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
  margin: 0 10px;
}

.modal-buttons button:first-child {
  background-color: #61dafb;
  color: #1a1a1a;
}

.modal-buttons button:first-child:hover {
  background-color: #88e1fc;
}

.modal-buttons button:last-child {
  background-color: #444;
  color: #f0f0f0;
}

.modal-buttons button:last-child:hover {
  background-color: #555;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}